* {
    margin: 0;
    padding: 0;
}

.box {
    box-sizing: border-box;
    background: aliceblue;
    border: 1px aliceblue solid;
}

.top {
    margin: 40px 60px 5px;
    background: lightgray;
    height: 70px;
}

.logo {
    font-size: large;
    padding: 25px 10px;
}

.nav {
    margin: 5px 60px 5px;
    background: lightgray;
    height: 30px;
    text-align: center;
}

.nav-item {
    padding-top: 5px;
}

.header {
    margin: 5px 60px 5px;
    background: lightgray;
    height: 100px;
    text-align: center;
}

.header-item {
    padding-top: 30px;
}

.body {
    margin: 5px 60px 5px;
    height: 500px;
    display: flex;
}

.left {
    background: lightgray;
    width: 30%;
    height: 500px;
    margin-right: 20px;
}

.left-item {
    text-align: center;
    padding-top: 200px;
    font-size: large;
}

.right {
    background: lightgray;
    width: 70%;
    height: 500px;
}

.right-item {
    text-align: center;
    padding-top: 200px;
    font-size: large;
}

.footer {
    margin: 5px 60px 40px;
    background: lightgray;
    height: 30px;
    text-align: center;
}

.footer-item {
    padding-top: 5px;
}